[submodule "liblzma"]
	path = liblzma
	url = https://github.com/kobolabs/liblzma.git
[submodule "libunwind"]
	path = libunwind
	url = https://github.com/libunwind/libunwind.git
[submodule "elfio"]
	path = elfio
	url = https://github.com/aclamk/elfio.git
