[submodule "liblzma"]
	path = liblzma
	url = https://github.com/kobolabs/liblzma.git
[submodule "libunwind"]
	path = libunwind
	url = https://github.com/pathscale/libunwind.git
[submodule "elfio"]
	path = elfio
	url = https://git.code.sf.net/p/elfio/code
